name: Assignment SAST 

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  security-events: write
  contents: read


jobs:
  semgrep:
    name: Run SAST Semgrep
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Semgrep
        run: |
          pip install semgrep

      - name: SAST Scan
        run: semgrep scan --config=p/owasp-top-ten --config=p/php --sarif -o semgrep.sarif || true

      - name: Upload SAST Finding
        uses: github/codeql-action/upload-sarif@v4
        if: always()
        with:
          sarif_file: semgrep.sarif

  trivy:
    name: Run SCA Trivy
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run Trivy SCA
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          scan-ref: '.'
          format: 'sarif'
          output: 'trivy-results.sarif'

      - name: Upload SCA finding
        uses: github/codeql-action/upload-sarif@v4
        if: always()
        with:
          sarif_file: trivy-results.sarif