name: Assignment SAST 

on:
  push:
    branches: ["sast"]
  pull_request:

jobs:
  semgrep:
    name: Run SAST Semgrep
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Semgrep
        run: |
          pip install semgrep

      - name: SAST
        continue-on-error: true
        run: |
          semgrep scan --config=p/owasp-top-ten --config=p/php --sarif -o semgrep-results.sarif

      - name: Upload SAST to GitHub Security
        uses: github/codeql-action/upload-sarif@v4
        if: always()
        with:
          sarif_file: semgrep-results.sarif